@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Inter:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    scrollbar-width: thin !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
  }

  body {
    overflow-x: hidden;
  }

  @media (pointer: fine) {
    *::-webkit-scrollbar {
      @apply bg-slate-50 h-2.5 w-2.5;
    }

    body::-webkit-scrollbar-thumb {
      @apply bg-slate-900 hover:bg-slate-800;
    }

    *::-webkit-scrollbar-thumb {
      @apply bg-slate-200 hover:bg-slate-300;
    }

    *::-webkit-scrollbar-track {
      @apply border border-slate-100;
    }
  }
}
